@model List<Beer>

<h1>Cervezas</h1>
<a asp-action="Create">Crear</a>

<table class="table">
    <thead>
        <tr>
            <th>
                Nombre
            </th>
            <th>
                Marca
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var beer in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(beer_name => beer.Name)
                </td>
                <td>
                    @Html.DisplayFor(brand_name => beer.Brand.Name)
                </td>
            </tr>
        }
    </tbody>
</table>
<select class="form-control" asp-items="ViewBag.Brands"></select>